*{
    font-family: Arial, Helvetica, sans-serif;
}

#divheader{
    background-color: rgb(0, 0, 0);
}

.center{
    text-align: center;
}

#boton-carrito{
    background-color: white;
    float: right;
    border: 0ch;
}

#boton-carrito:hover{
    
    border-radius: 20px;
    border: 20px;
    

}

#boton-menu{
    background-color: rgb(255, 255, 255);
    border: 0ch;
    
}

#boton-menu:hover{
    background-color: rgb(226, 207, 226);
    border-radius: 20px;
    border: 20px;
    
}